header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {

}

nav ul li{
    display: inline-block;
}

#works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    flex: 1 0 25%;
}

.card img {
    width: 33%;
    min-width: 350px;
}