header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {

}

nav ul li{
    display: inline-block;
}

#works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card {
    flex-basis: 50%;
    margin: 8px;
}

.card img {
    width: 40%;
}