.hero {
    display: flex;
    /* justify-content: space-between; */
} 

.left-hero {
    background-color: black;
    flex: 1 0 40%;
}

h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.right-hero {
    background-color: burlywood;
    flex: 1 0 60%;
    height: auto;
    width: 100%;
    flex-flow: column;
}

.portfolio-img {
    /* object-fit: contain; */
    height: auto;
    width: 100%;
}

nav {
    text-align: center;
}

nav ul li{
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.home {
    background-color: rgb(14, 94, 97);
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#works {
    display: flex;
    flex-flow: row wrap;
    /* justify-content:left; */
    align-content: flex-start;
}

/* .wrapper {
    margin: 0 auto;
    width: 1200px;
} */

.card1 {
    flex-grow: 1;
    flex-shrink: 0;
}

.card1 img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    min-width: 1180px;
    padding: 10px 10px 5px 10px;
}

.card2 {
    flex: 1 0 0;
}

.card2 img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    min-width: 580px;
    padding: 10px 10px 5px 10px;
}

/* @media screen  and (max-width: 500px) {
    .card1 img, 
    .hero,
    .left-hero,
    .right-hero {
        min-width: 600px;
    }
} */